Repository edgexfoundry/edgex-compose, pull requests merged in 2021-05, with the labels that each got.

#60 (feat) Enable Kong Admin Loopback API
  compose-builder/add-security.yml
  compose-builder/common-sec-stage-gate.env
  compose-builder/get-api-gateway-token.sh
  docker-compose-arm64.yml
  docker-compose.yml
  taf/docker-compose-taf-arm64.yml
  taf/docker-compose-taf-perf-arm64.yml
  taf/docker-compose-taf-perf.yml
  taf/docker-compose-taf.yml
Labels: enhancement, ireland, security-review, security-services

#73 feat(security): Update compose for adding consul header into Kong's route
  compose-builder/add-security.yml
  docker-compose-arm64.yml
  docker-compose.yml
  taf/docker-compose-taf-arm64.yml
  taf/docker-compose-taf-perf-arm64.yml
  taf/docker-compose-taf-perf.yml
  taf/docker-compose-taf.yml
Labels: blocked, enhancement, ireland, security-review

#90 fix(security): Remove `ENABLE_REGISTRY_ACL` in compose
  compose-builder/common-security.env
  compose-builder/get-consul-acl-token.sh
  docker-compose-arm64.yml
  docker-compose.yml
  taf/docker-compose-taf-arm64.yml
  taf/docker-compose-taf-perf-arm64.yml
  taf/docker-compose-taf-perf.yml
  taf/docker-compose-taf.yml
Labels: ireland

#101 fix(security): Fix the issue of missing device-modbus's Kong route
  compose-builder/Makefile
  compose-builder/add-service-secure-template.yml
  docker-compose-arm64.yml
  docker-compose.yml
  taf/docker-compose-taf-arm64.yml
  taf/docker-compose-taf-perf-arm64.yml
  taf/docker-compose-taf-perf.yml
  taf/docker-compose-taf.yml
Labels: 3-high, bug, ireland, security-services
